In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [2]:
path=r"C:\Users\hp\Desktop\EXCELR ASSIGNMENTS\Cars.csv"

In [3]:
df1=pd.read_csv(path)

In [4]:
df1.head()

   HP        MPG  VOL          SP         WT
0  49  53.700681   89  104.185353  28.762059
1  55  50.013401   92  105.461264  30.466833
2  55  50.013401   92  105.461264  30.193597
3  70  45.696322   92  113.461264  30.632114
4  53  50.504232   92  104.461264  29.889149

# a.	P(MPG>38)

In [5]:
import scipy
from scipy import stats
from scipy.stats import norm

In [6]:
1-stats.norm.cdf(38,df1.MPG.mean(),df1.MPG.std())

0.3475939251582705

# b.P(MPG<40)

In [7]:
stats.norm.cdf(40,df1.MPG.mean(),df1.MPG.std())

0.7293498762151616

# P (20<MPG<50)

In [8]:
stats.norm.cdf(0.50,df1.MPG.mean(),df1.MPG.std())-stats.norm.cdf(0.20,df1.MPG.mean(),df1.MPG.std())

1.2430968797327613e-05