In [1]:
import numpy as np
import pandas as pd

In [2]:
path=r"C:\Users\hp\Desktop\EXCELR ASSIGNMENTS\Q7.csv"

In [3]:
df1=pd.read_csv(path)

In [4]:
df1.head()

          Unnamed: 0  Points  Score  Weigh
0          Mazda RX4    3.90  2.620  16.46
1      Mazda RX4 Wag    3.90  2.875  17.02
2         Datsun 710    3.85  2.320  18.61
3     Hornet 4 Drive    3.08  3.215  19.44
4  Hornet Sportabout    3.15  3.440  17.02

In [5]:
df1[['Points','Score','Weigh']].mean()

Points     3.596563
Score      3.217250
Weigh     17.848750
dtype: float64

In [6]:
df1[['Points','Score','Weigh']].median()

Points     3.695
Score      3.325
Weigh     17.710
dtype: float64

In [7]:
df1[['Points','Score','Weigh']].mode()

   Points  Score  Weigh
0    3.07   3.44  17.02
1    3.92    NaN  18.90

In [8]:
df1[['Points','Score','Weigh']].var()

Points    0.285881
Score     0.957379
Weigh     3.193166
dtype: float64

In [9]:
df1[['Points','Score','Weigh']].std()

Points    0.534679
Score     0.978457
Weigh     1.786943
dtype: float64